.navbar {
    background: linear-gradient(-90deg,#397AE9 15%,#4789E1 24%,#ADF2AB 140%);
    padding: 4px 14px;
    font-weight: 100;

    .navbar-brand {
        font-size: 24px;
        margin-right: 38px;
    }
}

