target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IDEs and editors ###
.idea
*.iws
*.iml
*.ipr
.c9/
*.launch
*.sublime-workspace

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

/logs

# frontend build path
src/main/resources/static

# frontend dependencies
src/main/frontend/node_modules

# frontend compiled output
src/main/frontend/dist
src/main/frontend/out-tsc
src/main/frontend/tmp

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# frontend misc
src/main/frontend/.sass-cache
src/main/frontend/connect.lock
src/main/frontend/coverage
src/main/frontend/libpeerconnection.log
src/main/frontendnpm-debug.log
src/main/frontendtestem.log
src/main/frontend/typings

# frontend e2e
src/main/frontend/e2e/*.js
src/main/frontend/e2e/*.map

# frontend System Files
src/main/frontend/.DS_Store
src/main/frontend/Thumbs.db
